<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobdeve.s15.group5.notegeo">

    <!--For geofencing -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".NoteGeoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteGeo">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".alarms.UpdateService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".label.LabelActivity"
            android:exported="true" />
        <activity
            android:name=".recyclebin.RecycleBinActivity"
            android:exported="true" />
        <activity
            android:name=".editor.EditNoteActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.MainActivity"
            android:exported="true" />
        <activity
            android:name=".location.MapsActivity"
            android:exported="true" />

        <receiver
            android:name=".alarms.AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".location.GeofenceReceiver"
            android:enabled="true" />
    </application>

</manifest>